{% extends "admin/base.html" %}

{% block title %}Templates{% endblock %}

{% block content %}
<h1>📝 Templates STUB - IT WORKS!</h1>
<p>Templates routing is working fine!</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Email & SMS Templates</h5>
            </div>
            <div class="card-body">
                <p>This is where email and SMS templates will be managed.</p>
                <a href="#" class="btn btn-primary">+ Create Template</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}