<!-- ===========================================
     TEMPLATE: admin/templates.html
     =========================================== -->
{% extends "admin/base.html" %}

{% block title %}Templates{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>📝 Email Templates</h1>
    
    <div class="card">
        <div class="card-header">
            <h5>All Templates</h5>
            <a href="/admin/templates/create" class="btn btn-primary">Create Template</a>
        </div>
        <div class="card-body">
            <p>STUB: Templates list will be here</p>
            
            {% if templates %}
                <ul>
                    {% for template in templates %}
                    <li>{{ template.name }} - {{ template.type }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No templates found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}